<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanderbilt.isis.chew"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Pankaj Chand's permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".db.ChewContentProvider"
            android:authorities="com.vanderbilt.isis.chew.provider"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipesActivity"
            android:label="@string/gallery_act" />
        <activity android:name=".RecipeActivity" />
        <activity
            android:name=".ShoppingList"
            android:label="@string/shoplist_act" />
        <activity
            android:name=".VoucherUpload"
            android:label="@string/add_vouchers_act" />
        <activity
            android:name=".VouchersListView"
            android:label="@string/choose_vouch_act" />
        <activity
            android:name=".VoucherDescription"
            android:label="@string/what_can_get" />
        <activity
            android:name=".GetProducts"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".MembersListView"
            android:label="@string/choose_member_act" />
        <activity
            android:name=".Profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/profile_act" />
        <activity
            android:name=".InCartRegular"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/regular_act" />
        <activity
            android:name=".InCartCash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cash_act" />
        <activity
            android:name=".Produce"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/produce_act" />
        <activity
            android:name=".DeleteVouchers"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/del_vouchers_act" />
        <!-- Pankaj Chand's Components -->

        <receiver
            android:name=".notificationmsg.BootCompleteBroadcastReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notificationmsg.AlarmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.vanderbilt.isis.chew.notificationmsg.ACTION_SEND_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notificationmsg.SetAlarmService"
            android:process=":myProcess1" />
        <service
            android:name=".notificationmsg.SendNotificationService"
            android:process=":myProcess2" />

        <provider
            android:name=".notificationmsg.NotificationProvider"
            android:authorities="com.vanderbilt.isis.chew.notificationmsg.NotificationProvider" />

        <activity android:name=".notificationmsg.ConfigurationActivity" />
        <activity
            android:name=".notificationmsg.NotificationDialogActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".notificationmsg.NotificationHistoryActivity"
            android:label="@string/tips_act" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>